version: '3'

services:

  wikidb:
    image: mongo
    restart: always
    # ports:
    #   - 27017:27017
    command: '--smallfiles --logpath=/dev/null'
    volumes:
      - ./data/db:/data/db

  wikijs:
    image: requarks/wiki:latest
    restart: always
    ports:
      - 80:80
    volumes:
      - ./config.yml:/var/wiki/config.yml
      - ./data/wiki/repo:/var/wiki/data
      - ./data/wiki/data:/var/wiki/repo